# Dependencies
node_modules/
.pnp
.pnp.js

# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv
env/
venv/
.pytest_cache/

# Production Build
dist/
build/

# IDE & OS
.DS_Store
Thumbs.db
.vscode/
.idea/
